body{
    background-image: url(../images/background.jpg);
    min-height: 100vh;
    background-size: cover;
    font-family: 'Chewy', cursive; 
}

.character{
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.img-thumbnail{
    width: 100px;
    height: 144px;
    background-color: white;
}

.character:hover{
    background-color: #66cccc;
}

.defenders:hover{
    background-color: gray !important;
}

#chibiZeldaTxt{
    font-family: 'Chewy', cursive; 
    color: rgb(155, 135, 18);
    font-size: 3em;
}

#fightTxt{
    font-family: 'Luckiest Guy', cursive;
}

.btn-danger{
    font-family: 'Luckiest Guy', cursive;
}